.OpenedDashboard {}

.DashboardButtons {
    position: fixed;
    top: 30px;
    right: 30px;

    & button {
        width: 60px;
    }
    /* & .btn {
        padding: 0;
        & svg {
            width: 2rem;
            height: 2rem;
        }
    } */
}